aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.20.0
annotated-types @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-1fa2djihwb/croot/annotated-types-1709542925772/work
anyio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-68kdsx8iyd/croot/anyio-1729121281958/work
asyncpg==0.30.0
attrs==24.3.0
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-d8j59rqun5/croot/certifi-1734473289913/work/certifi
charset-normalizer==3.4.1
click @ file:///users/builder/cbouss/perseverance-python-buildout/croot/click-1699237822453/work
deprecated==1.2.15
distro @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-ddkyz0575y/croot/distro-1714488254309/work
fastapi @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-89gzc8olly/croot/fastapi-1724789159605/work
frozenlist==1.5.0
h11 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-110bmw2coo/croot/h11-1706652289620/work
httpcore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-fcxiho9nv7/croot/httpcore-1706728465004/work
httpx @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-cc4egw1482/croot/httpx-1723474826664/work
idna @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-a12xpo84t2/croot/idna-1714398852854/work
iso8601==2.1.0
jiter @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-f4n0iuya3b/croot/jiter-1729808946806/work
limits==3.14.1
multidict==6.1.0
openai @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-6a8f7chu6-/croot/openai-1730224439772/work
packaging==24.2
propcache==0.2.1
pydantic @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-4blmh3bau-/croot/pydantic-1734736077970/work
pydantic-core @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-bdqco4zmod/croot/pydantic-core-1734726070262/work
pypika-tortoise==0.3.2
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
setuptools==75.1.0
slowapi==0.1.9
sniffio @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-1573pknjrg/croot/sniffio-1705431298885/work
soupsieve==2.6
starlette @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-21zxgkzlvl/croot/starlette-recipe-1724683207405/work
tortoise-orm==0.23.0
tqdm @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-24zjwympsr/croot/tqdm-1724853942429/work
typing-extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/t/abs-0b3jpv-f79/croot/typing-extensions-1734714864260/work
urllib3==2.3.0
uvicorn @ file:///private/var/folders/nz/j6p8yfhx1mv-0grj5xl4650h0000gp/t/abs-21sa-0zxyi/croot/uvicorn-split-1732661340579/work
wheel==0.44.0
wrapt==1.17.0
yarl==1.18.3