# Ignore node_modules
node_modules/

# Ignore build directories
dist/
build/
out/

# Ignore configuration and environment files
.env
.vscode/
*.config.js

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*